.my-footer {
  /*height: 10em;*/
  background-color: #f45e00;
  margin-top: 1.5em;
  padding: 1em;
  color: antiquewhite;
  font-size: 80%;
}

.room-image {
  max-width: 75%;
}

.redText {
  color: red;
}

.greenText{
  color: green;
}

.orangeText{
  color: #f45e00;
}

.textBg {
  background-color: hsla(140, 5%, 55%, 0.5);
}

.notie-container {
  box-shadow: none;
}

.datepicker {
  z-index: 10000;
}